a {
  text-decoration: none;
}

nav {
    font-family: monospace;
    
}

ul {
  background: blue;
    list-style: none;
    margin: 0;

    padding-left: 0;
}

li {
    color: #fff;
  background: black;
    display: block;
    float: right;
    padding: 1rem;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: white;
}

li:hover,
li:focus-within {
    background: blue;
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
    background: blue;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
@media screen and (max-width: 600px) {
  .column{
    height: 400px;
  }
}

